{% extends 'layout.html' %} 

{% block title %} 
Sign up 
{% endblock %} 

{% block main %}

<form action="/register" method="post">

  <div class="form-container">

    <div class="form">
      <div class="username">
        <input type="text" name="username" placeholder="Username" id="username" autofocus autocomplete="off"/>
      </div>

      <div class="password">
        <input type="password" name="password" placeholder="Password" id="password"/>
      </div>
    </div>

    <!-- {% if get_flashed_messages() %}
            <div class="flashed-message">
                {{ get_flashed_messages() }}
            </div>
    {% endif %} -->
    <input type="submit" name="register" id="register" class="btn" value="Sign up"/>

  </div>

</form>

{% endblock %}
